{% extends 'main_page/static_templates/main_page_carcass.html' %}

{% block content %}
    {% if object_list %}
     {% for article in object_list %}
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h3>{{ article.title }}</h3>
                 <p>Просмотры: {{ article.get_hits }}</p>
                 <p class="author-info">{{ article.created }} от {{ article.author }}</p>
             </div>
             <div class="panel-body">
                 {{ article.text }}
             </div>
             <div class="panel-footer article-details">
                 <a href="/article/{{ article.pk }}">Далее</a>
             </div>
         </div>
     {% endfor %}
        {% else %}
        <h1>Совпадений не найдено</h1>
    {% endif %}

{% if is_paginated %}
    <div class="text-center">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% ifequal num page_obj.number %}
        <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
      {% else %}
        <li><a href="?page={{ num }}">{{ num }}</a></li>
      {% endifequal %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
    </div>
{% endif %}
{% endblock %}
