{% load staticfiles %}


<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href={% static "css/main_page.css" %}>
     <link rel="stylesheet" href={% static "css/pagination.css" %}>
</head>

<body>
     {% include 'main_page/blocks/header.html' %}


     <div class="col-sm-3">
         {% include 'main_page/blocks/sidebar.html' %}
     </div>

     <div class="col-sm-6">
         {% block content %}
         {% endblock %}
     </div>

     <script type="text/javascript" src="{% static 'js/likes.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/subscribe.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/comments.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/main_page.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/article.js' %}"></script>
</body>
