<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href='/'>Главная</a></li>
                <li><a href="/site_info/">Информация</a></li>
                <li><a href="/contacts/">Контакты</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/create_article/">Создать пост</a></li>
                    <li><a href="/{{ user.username }}/user_info">Личный кабинет</a></li>
                    <li><a href="/logout/">Выйти</a></li>
                    </ul>
                    {% else %}
                    <li><a href="/registration/">Регистрация</a></li>
                    <li><a href="/login/">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
