html, body{
    overflow-y: scroll;
}

body{
    font-family: 'Garamond';
    font-size: large;
    background-color: #EDEDED;
}

.panel-default .panel-heading{
    background-color: white;

}

.panel-default .panel-footer{
    background-color: white;
    border-color: white;
}

.panel-default{
    border-radius: 0px;
}

.panel-default .panel-heading h3,
.panel-default .panel-heading h1{
    text-align: center;
}

#answer-form{
    text-align: center;
}

.navbar-inverse{
    background-color: orange;
    border: none;
}

.navbar-collapse .navbar-nav li a{
    color: white;
}

.navbar-header .navbar-brand{
    color: white;
}

.navbar-header .navbar-brand:hover,
.sub-counter:hover,
.navbar-nav li:hover{
    background-color: #FFC01A;
}

.sidebar a,
.article-details a{
    color: black;
    text-decoration: none;
}

.sidebar a:hover,
.article-details a:hover,
.parent-name:hover{
    color: orange;
    cursor: pointer;
}

.sub-counter{
    cursor: pointer;
}

.panel-default .panel-heading,
.panel-default .panel-body{
    word-wrap: break-word;
}

.sidebar .panel-heading{
    border-radius: 0;
    text-align: center;
    background-color: orange;
    color: white;
    border: none;
}

.sidebar-tag,
.btn-md{
    background-color: white;
    border-radius: 0;
    border-color: black;
    color: black;
}

.sidebar-tag:hover,
.sidebar-tag:active,
.sidebar-tag:visited,
.sidebar-tag:focus,
.sidebar-tag:active:focus,
.btn-md:active:focus,
.btn-md:hover,
.btn-md:active,
.btn-md:visited,
.btn-md:focus{
    background-color: orange;
    color: white;
}
